@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
html {
    height: 100%;
}
body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.login-submit-button {
    padding: 0.35rem 1rem;
    background-color: #2f6f6f;
    color: #0a0a0a;
    font-weight: 600;
    border-radius: 0.375rem;
    transition:
        background-color 200ms ease,
        transform 100ms ease,
        box-shadow 200ms ease;
    box-shadow:
        0 10px 15px -3px rgba(26, 58, 74, 0.5),
        0 4px 6px -2px rgba(26, 58, 74, 0.5);
    border: none;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: rgba(47, 111, 111, 0.8);
}

.login-submit-button:active {
    transform: translateY(0.125rem);
}
